<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="pushData" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="pushData" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="pushData" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="pushData" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Post Data</title>
    <meta name="description" content="An app for posting data">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'/>
    <meta name="google-signin-client_id"
          content="867566842721-nm9rujut9s29shvrkjiqcsmcm03ggae6.apps.googleusercontent.com">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="app.css">
</head>
<body class="">


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav ng-controller="MainCtrl">
    <div class="nav-wrapper blue">
        <a ui-sref="home" class="brand-logo center">PushData</a>
        <ul class="right">
            <li ng-show="userName"><a ng-click="logOut();">Logout</a></li>
        </ul>
    </div>
</nav>
<div ui-view></div>
<div id="my-signin2" style="display: table; margin: 0 auto" ng-show="toggleButton"></div>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="app.js"></script>
<script src="login/login.js"></script>
<script src="myAccount/myAccount.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

</body>
</html>
