<div ng-hide="preLoad">
    <h1 class="animated bounceInUp center orange-text">
        Welcome! :)
    </h1>

    <h5 class="center blue-grey-text">
        Sign in to Continue!
    </h5>
</div>
<div class="container">
    <div class="row clearfix" style="height: 5vh;"></div>
    <div class="row" ng-show="preLoad">
        <!--Preloader-->
        <div class="preloader-wrapper big active" style=" display: table;margin: 0 auto;">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix" style="height: 10vh;"></div>

    <!--SigninDirective-->
    <google-signin ng-if="loggedIn"></google-signin>
</div>


