<h2 class="animated bounceInUp center blue-grey-text">
    <!--Welcome Message-->
    Hello, {{userName}}!
</h2>

<div class="container">
    <div class="row">
        <form class="col s12">
            <!--To Get the user data-->
            <div class="row">
                <div class="input-field col s10">
                    <input id="data" type="text" class="validate" ng-model="content">
                    <label for="data">Type Anything</label>
                </div>
                <!--Push Button-->
                <a class="btn-large waves-effect waves-light orange z-depth-2 col s2" ng-click="add()"><i
                        class="material-icons">add</i></a>
            </div>
        </form>
    </div>


    <ul class="collection z-depth-3 hoverable">
        <!--To display the data-->
        <li class="collection-item avatar" ng-repeat="data in dataSet">
            <i class="material-icons circle orange">play_arrow</i>
            <strong class="title blue-text ">{{data.text}}</strong><br>
            <em class="blue-grey-text">Posted at {{getDateTime(data.timestamp)}} </em>
        </li>
    </ul>

</div>

<style>
    .input-field label {
        color: #2196F3;
    }

    /* label focus color */
    .input-field input[type=text]:focus + label {
        color: #2196F3;
    }

    /* label underline focus color */
    .input-field input[type=text]:focus {
        border-bottom: 1px solid #2196F3;
        box-shadow: 0 1px 0 0 #2196F3;
    }

    .input-field input[type=text] {
        border-bottom: 1px solid #2196F3;
        box-shadow: 0 1px 0 0 #2196F3;
    }
</style>
